<!DOCTYPE html>
<html>
<head>
    <title>Simple Chat</title>
</head>

<body>

<br>

<!--田中くんのところ -->

<a>Mothman Presen Viewer</a>
<div>
  &nbsp; &nbsp;
  <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
</div>

<div>
<input type="text" name="txtb" id="textid" value="https://gojiteji.github.io/pdfshow.github.io/sample.pdf" placeholder="https://□□□/〇〇.pdf"　>
<button id="presen">Start Presentation</button>
</div>




<canvas id="the-canvas"></canvas>

<!-- ここまで -->
<br>
届いたメッセージ<div id="area-message"> </div>

</body>

<script src="https://gojiteji.github.io/pdfshow.github.io/build/pdf.js"></script>


<script src="https://gojiteji.github.io/pdfshow.github.io/sample.js"></script>



<!--ここにFirebaseのコード-->

<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBZ12XksaeffEzA1jq_f4f1HveSlGjoKPE",
    authDomain: "sample-1caf1.firebaseapp.com",
    databaseURL: "https://sample-1caf1.firebaseio.com",
    projectId: "sample-1caf1",
    storageBucket: "sample-1caf1.appspot.com",
    messagingSenderId: "69278405251"
  };
  firebase.initializeApp(config);
</script>

<!--
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/script.js"></script>
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script>

  //http~ のテンプレートurl　使用によって変わるところ
  var baseurl = "http://127.0.0.1:8000/room/";

  var url = location.href;

  //テンプレート文字からの先の文字列を取得
  var str = url.replace(baseurl,"");

  //送信先のデータベース
  var sendname = str;

  $(document).ready(function () {

    //ユーザ情報の変数
    var __User = {};

    //匿名でユーザ認証を行う
    firebase.auth().signInAnonymously().catch(function (error) {
        var errorCode = error.code;
        var errorMessage = error.message;
    });

    //ユーザ情報を取得する
    firebase.auth().onAuthStateChanged(function (user) {
        if (user) { //User情報が取得できた場合
            __User.isAnonymous = user.isAnonymous;
            __User.uid = user.uid;

        } else { //ログアウト時

        }
    });


  });


  //データベースに変更があった場合変更分をスライドに反映する。
  firebase.database().ref('/rooms/' + sendname + "/presen_order/" ).on('child_added', function(snapshot) {
    var data = snapshot.val();
    if(data['order'] == "next"){
      onNextPage();
    }
    else if(data['order'] == "prev"){
      onPrevPage();
    }
    else{
      var page_num = Number(data['order']);
      onJumpPage(page_num);
    }
  });
</script>

</html>
