<!DOCTYPE html>
<html>
<head>
    <title>Simple Chat</title>
</head>

<body>
<button class="authBtn" disabled></button> <br>
<span class="userId"></span>さんこんにちは!
<p id = "message">許可するgoogleアカウント名:</p>
<input type="text" id="input-message" name="message" value="">
<button id="btn-submit">送信</button>

</body>

<!--ここにFirebaseのコード-->

<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBZ12XksaeffEzA1jq_f4f1HveSlGjoKPE",
    authDomain: "sample-1caf1.firebaseapp.com",
    databaseURL: "https://sample-1caf1.firebaseio.com",
    projectId: "sample-1caf1",
    storageBucket: "sample-1caf1.appspot.com",
    messagingSenderId: "69278405251"
  };
  firebase.initializeApp(config);
</script>

<!--
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/script.js"></script>
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--初期化-->
<script>
$("#message").hide();
$("#input-message").hide();
$("#btn-submit").hide();
</script>

<script>

  var sendname = "yahoo";

  //http~ のテンプレートurl　使用によって変わるところ
  var baseurl = "http://127.0.0.1:8000/option/";

  var url = location.href;

  //テンプレート文字からの先の文字列を取得
  var str = url.replace(baseurl,"");

  //送信先のデータベース
  var sendname = str;

  var mastername = "-1undefinder";

  //ログインしている人と作成者が一致しているかのフラグ
  var flag = false;

  //データベースに一回だけアクセスする
  firebase.database().ref('/rooms/' + sendname + "/information/" ).once('value').then(function(snapshot) {
    var data = snapshot.val();
    mastername = data["userid"];

    //こっちで呼ばないと遅い
    //こっちじゃないとmasternameが取得できているかどうかが確認できない。
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        //alert("ok");
        if(user.email == mastername){

          flag = true;
        }
        // User is signed in.
      } else {
        // No user is signed in.
      }
    });
    //alert("u: " + mastername);
    //alert(AuthUI.userId);
  });

  //認証

  var AuthUI = {
    init: function(){
      AuthUI.provider = new firebase.auth.GoogleAuthProvider();
      AuthUI.elAuthBtn = document.querySelector('.authBtn');
      AuthUI.elUserId = document.querySelector('.userId');
      AuthUI.draw();
      AuthUI.elAuthBtn.addEventListener('click', function(){
        AuthUI.doAuth();
      });
      firebase.auth().getRedirectResult().then(function(result) {
        AuthUI.elAuthBtn.disabled = false;
        if (result.credential) {
          // This gives you a Google Access Token. You can use it to access the Google API.
          var token = result.credential.accessToken;
        }
        if(result.user){
          AuthUI.data.authed = true;
          AuthUI.data.userId = result.user.email;
          AuthUI.draw();
        }
      }).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        // The email of the user's account used.
        var email = error.email;
        // The firebase.auth.AuthCredential type that was used.
        var credential = error.credential;
        // ...
      });
    },
    data: {
      authed: false,
      userId: '',
      info: ''
    },
    draw: function(){
      //これでログインしているかどうかを確認できる。
      firebase.auth().onAuthStateChanged(function(user) {
        if (user && user.displayName != null) {
          $("#message").show();
          $("#input-message").show();
          $("#btn-submit").show();
          AuthUI.elAuthBtn.textContent = "LOGOUT";
          alert(user.displayName);
          AuthUI.elUserId.textContent = user.displayName;
          // User is signed in.
        } else {
          $("#message").hide();
          $("#input-message").hide();
          $("#btn-submit").hide();
          AuthUI.elAuthBtn.textContent = "LOGIN";
          AuthUI.elUserId.textContent = "";
          // No user is signed in.
        }
      });

    },
    doAuth: function(){
      user = firebase.auth().currentUser;
      if (user) {
        firebase.auth().signOut().then(function() {
          AuthUI.data.authed = false;
          AuthUI.data.userId = '';
          AuthUI.draw();
          // Sign-out successful.
        }).catch(function(error) {
          // An error happened.
        });
        // User is signed in.
      } else {
        firebase.auth().signInWithRedirect(AuthUI.provider);
        // No user is signed in.
      }

    },
  };

  AuthUI.init();



  $(document).ready(function () {

    //ユーザ情報の変数
    var __User = {};

    var input_message = $("#input-message");
    var btn_submit = $("#btn-submit");


    //[送る]ボタンを押したときのイベント設定
    btn_submit.on("click", function () {
      //テキストボックスに入力されているデータを取得
      var message_data = input_message.val();

      //入力されているデータがある場合送る
      if (message_data.length > 0) {
          sendMessage(firebase.auth().currentUser.email, message_data);
      }
      else{
        alert("input is not written!");
      }

    });


    function sendMessage(userid, message) {

        if(!flag){
          alert("You are not master");
          return;
        }

        user = firebase.auth().currentUser;
        userid = user.email;

        message += "@gmail.com";

        //送りたいデータ
        var data = {
            //"userid": userid,//ユーザID
            "message": message,//メッセージ
        };

        //新しいIDを取得します
        var newMessageKey = firebase.database().ref().child(sendname).push().key;

        //messagesにデータを保存します
        return firebase.database().ref("/rooms/" + sendname + "/AllowedAccounts/" + newMessageKey).update(data).then(
            //送信成功時の処理
            function () {
              alert("gook");
                console.log("メッセージを送信しました。");
            },
            //送信失敗時の処理
            function (error) {
                console.log("送信に失敗しました");
            }
        );
    }
  });


</script>


</html>
